h1 {
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #525c91;
  color: #ffffff;
  text-align: center;
}
legend {
  font-size: 18px;
  background-color: #525c91;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  line-height: 2;
  font-family: Arial, Helvetica, sans-serif;
}
.top-line {
  border-bottom: 2px solid #525c91;
  margin-bottom: 0;
}

button:focus {
  outline: 1px solid #999;
}
/* 1. 送出報名按鈕 */
button[type="submit"] {
  background-color: #2c3e50; /* 深藍色底色 */
  color: #ffffff; /* 文字白色（確保深色背景閱讀清晰） */
  font-size: 14px;
}
/* 2. 清除重填按鈕 */
button[type="reset"] {
  background-color: #c0392b; /* 紅色底色 */
  color: #ffffff; /* 文字白色 */
  font-size: 14px;
}
